name: Python application

on:
  release:
    types: [published]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v4
    - uses: astral-sh/setup-uv@v7
    - name: Lint with ruff
      # ruff detects config from pyproject.toml
      run: uvx ruff check .
    - name: PyPI publish with uv
        run: echo "uncomment the next line in the yml file"
      # run: uv publish
